@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: whitesmoke;
}

.main-container {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  border: 1px solid #000;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

/* Title */
.title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

/* Input Container */

.input-container {
  max-width: 700px;
  width: 100%;
  margin: 10px;
  margin-bottom: 5px;
  padding: 1rem;
  border: 2px solid #333;

  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 1rem;
}

.task-input,
.date-input {
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 5px;
  font-size: 1rem;
}

.add-button {
  place-content: center;
  width: 100px;
  padding: 10px;
  font-weight: bold;
  background-color: #a4dd00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

button {
  height: 44px;
  cursor: pointer;
}

button:hover {
  font-size: x-small;
  border: 1.5px solid #eee;
}

/* Clear Buttons Container */

.clear-buttons-container {
  max-width: 700px;
  width: 100%;
  margin: 5px;
  padding: 1rem;
  border: 2px solid #333;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.clear-tasks {
  width: 275px;
  padding: 10px;
  font-weight: bold;
  background-color: #0d5ea6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

/* List Container */

.display-task-list-container {
  max-width: 700px;
  width: 100%;
  margin: 5px;
  border: 2px solid #333;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Task Container */

.js-task-container {
  margin: 10px;
  padding: 10px;
  border: 2px solid #333;
  background: #fff;

  display: grid;
  grid-template-columns: 3fr 1fr 40px 40px;
  gap: 10px;
}

.js-task-container.js-task-completed .js-task {
  background: #eee;
  text-decoration: line-through;
  opacity: 0.5;
}
.js-task-container.js-task-completed .js-due-date {
  background: #eee;
  text-decoration: line-through;
  opacity: 0.5;
}

.js-task,
.js-due-date {
  place-content: center;
}

.js-done-button,
.js-delete-button {
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.js-done-button {
  background: radial-gradient(#a7e300, #c9ff26);
  color: #fff;
}
.js-delete-button {
  background-color: #dc2525;
  color: #fff;
}
