@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #2b2b2b;
}

.main-container {
  width: 100%;
  height: 100%;
  margin-top: 1rem 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

/* Title */
.title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

/* Input Container */

.input-container {
  max-width: 700px;
  width: 100%;
  margin: 10px;
  margin-bottom: 5px;

  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 1rem;
}

.task-input,
.date-input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: #606060;
}

.add-button {
  place-content: center;
  padding: 10px;
  font-weight: bold;
  background: none;
  color: #fff;
  border: 1.5px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

button {
  height: 44px;
  cursor: pointer;
  box-shadow: 2px 1px 2px #000;
}

.add-button:hover {
  background: #57564f;
  color: #fff;
}

/* Clear Buttons Container */

.clear-buttons-container {
  max-width: 700px;
  width: 100%;
  margin: 5px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  gap: 1rem;
}

.clear-tasks {
  padding: 10px;
  font-weight: bold;
  background: none;
  color: #fff;
  border: 1.5px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.clear-tasks:hover {
  background: #57564f;
}

/* --DISPLAY SECTION-- */

/* empty state message */
.js-empty-state-message {
  width: 700px;
  height: 200px;
  font-size: 1.2rem;
  text-align: center;
  place-content: center;
  background: #333;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 0 5px 2px #1a1a1a;

  display: none;
}

/* List Container */

.display-task-list-container {
  max-width: 700px;
  width: 100%;

  display: none;
  flex-direction: column;
  justify-content: flex-start;
}

/* Task Container */

.js-task-container {
  margin: 10px 0;
  padding: 10px;
  color: #fff;
  border-left: 5px solid #fff;
  border-radius: 0 10px 10px 0;
  background: #1a1a1d;
  box-shadow: 2px 2px 2px #000;

  display: grid;
  grid-template-columns: 3fr 1fr 40px 40px;
  gap: 10px;
}

.js-task-container.js-task-completed .js-task {
  text-decoration: line-through;
  opacity: 0.5;
}
.js-task-container.js-task-completed .js-due-date {
  text-decoration: line-through;
  opacity: 0.5;
}

.js-task,
.js-due-date {
  margin: 5px;
  place-content: center;
}

.js-done-button,
.js-delete-button {
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.js-done-button {
  background: #7a7a73;
  color: #fff;
  box-shadow: none;
}
.js-done-button:hover {
  background: #dddad0;
  color: #000;
}

.js-delete-button {
  background: #7a7a73;
  color: #fff;
  box-shadow: none;
}
.js-delete-button:hover {
  background-color: #dddad0;
  color: #000;
}

/* Dialogs */
.custom-dialog-overlay {
  border: 2px solid #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.custom-dialog-overlay.visible {
  visibility: visible;
  opacity: 1;
}

.custom-dialog {
  padding: 25px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(-600px);
  transition: all 0.3s ease-in-out;
}
.custom-dialog-overlay.visible .custom-dialog {
  transform: translate(0);
  opacity: 1;
}

.dialog-message {
  margin: 10px;
}
.dialog-button {
  margin: 10px;
  width: 70px;
  height: 30px;
  padding: 0;
}
